@font-face{
    font-family: "NetflixSans";
    src: url('../fonts/NetflixSans.woff2')
}
body{
    margin: 0;
    padding: 0;
    font-family: "NetflixSans";
}
.nav{
    display: flex;
    color: rgba(255,255,255,1);
    width: 100%;
    z-index: 0.5;
    height: 100px;
}

.nav h1{
    width: 40%;
    padding: 0;
    text-align: center;
    margin: auto 0;
    color: rgb(5, 11, 22);
}

.nav-menus{
    width: 50%;
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 17px;
    justify-content: center;
    align-items: center;
}
.nav-menus li{
    padding: 0;
    margin: 0 30px 0 20px;
}

@media (max-width: 1024px) and (min-width: 769px){
    
}
@media (max-width: 768px) and (min-width: 561px){
    .nav-menus{
        font-size: 14px;
    }
}
@media (max-width: 560px) and (min-width: 425px){
    .nav{
        height: 80px;
    }
    .nav h1{
        display: flex;
        justify-content: flex-start;
        font-size: 20px;
        padding-left: 10px;
    }
    .nav-menus{
        font-size: 10px;
    }
}
@media (max-width: 424px){
    .nav{
        height: 80px;
    }
    .nav h1{
        display: flex;
        justify-content: flex-start;
        font-size: 20px;
        padding-left: 10px;
    }
    .nav-menus{
        font-size: 8px;
    }
    .nav-menus li{
        margin: 0 5px 0 5px;
    }
}