.reviews {
    display: grid;
    grid-template-rows: 120px 80px 250px;
    grid-template-columns: repeat(4, 1fr)
}

.brands-logo {
    grid-column: 1/-1;
    background: rgb(105, 105, 105);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    background-image: url("https://getbento.imgix.net/accounts/754065ebb71ded92579bcc019dd6afba/media/images/4664178footer_icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100px;
    height: 60px;
}

#second-brand {
    background-image: url("https://getbento.imgix.net/accounts/754065ebb71ded92579bcc019dd6afba/media/images/602631157929194footer_1.jpg")
}

#third-brand {
    background-image: url("https://getbento.imgix.net/accounts/754065ebb71ded92579bcc019dd6afba/media/images/433761404882371footer_3.jpg")
}

#fourth-brand {
    background-image: url("https://getbento.imgix.net/accounts/754065ebb71ded92579bcc019dd6afba/media/images/23395171815735footer_2.jpg")
}

#fifth-brand {
    background-image: url("https://getbento.imgix.net/accounts/754065ebb71ded92579bcc019dd6afba/media/images/514831892075616footer_4-modified.png")
}

#sixth-brand {
    background-image: url("https://getbento.imgix.net/accounts/754065ebb71ded92579bcc019dd6afba/media/images/24110495643129footer_5.jpg")
}

#seventh-brand {
    background-image: url("https://getbento.imgix.net/accounts/754065ebb71ded92579bcc019dd6afba/media/images/721851598363545Wt00FPVsQ0C49Qytk8QC_Studio_Logo-white.png")
}

#eighth-brand {
    background-image: url("https://getbento.imgix.net/accounts/754065ebb71ded92579bcc019dd6afba/media/images/904207533871100Freehand-Logo.png")
}

#ninth-brand {
    background-image: url("https://getbento.imgix.net/accounts/754065ebb71ded92579bcc019dd6afba/media/images/65141simonlogo2.png")
}

#tenth-brand {
    background-image: url("https://getbento.imgix.net/accounts/754065ebb71ded92579bcc019dd6afba/media/images/8149199234white.png")
}

.click-bait-image1 {
    background-image: url("../images/click-bait-image-1.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-row: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%
}

.click-bait-image1 .visible {
    display: block;
    width: 150px;
    height: 30px;
    font-size: 20px;
    border: 0;
    border-radius: 12px;
    background: rgba(1, 1, 1, 0.5);
}

.click-bait-image1:hover {
    box-shadow: inset 0 0 0 500px rgba(1, 1, 1, 0.3)
}

.click-bait-image1 button {
    width: 150px;
    height: 30px;
    font-size: 20px;
    border: 0;
    border-radius: 12px;
    background: rgba(1, 1, 1, 0.5);
    display: none;
}

.click-bait-image1 button a {
    text-decoration: none;
    color: white;
}

.click-bait-image1 button a:hover {
    color: lightseagreen;
}

.click-bait-image2:hover {
    box-shadow: inset 0 0 0 500px rgba(1, 1, 1, 0.3)
}

.click-bait-image2 .visible2 {
    display: block;
    width: 150px;
    height: 30px;
    font-size: 20px;
    border: 0;
    border-radius: 12px;
    background: rgba(1, 1, 1, 0.5);
}

.click-bait-image2 {
    background-image: url("../images/click-bait-image-2.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-row: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%
}

.click-bait-image2 button {
    width: 150px;
    height: 30px;
    font-size: 20px;
    border: 0;
    border-radius: 12px;
    background: rgba(1, 1, 1, 0.5);
    display: none;
}

.click-bait-image2 button a {
    text-decoration: none;
    color: white;
}

.click-bait-image2 button a:hover {
    color: lightseagreen;
}


.click-bait-image3 {
    background-image: url("../images/click-bait-image-3.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-row: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%
}

.click-bait-image3 button {
    width: 150px;
    height: 30px;
    font-size: 20px;
    border: 0;
    border-radius: 12px;
    background: rgba(1, 1, 1, 0.5);
    display: none;
}

.click-bait-image3:hover {
    box-shadow: inset 0 0 0 500px rgba(1, 1, 1, 0.3)
}

.click-bait-image3 .visible3 {
    display: block;
    width: 150px;
    height: 30px;
    font-size: 20px;
    border: 0;
    border-radius: 12px;
    background: rgba(1, 1, 1, 0.5);

}

.click-bait-image3 button a {
    text-decoration: none;
    color: white;
}

.click-bait-image3 button a:hover {
    color: lightseagreen;
}

.click-bait-image4 {
    background-image: url("../images/click-bait-image-4.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-row: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%
}

.click-bait-image4 button {
    width: 150px;
    height: 30px;
    font-size: 20px;
    border: 0;
    border-radius: 12px;
    background: rgba(1, 1, 1, 0.5);
    display: none;
}
.click-bait-container{
    display: flex;
    grid-column: 1/-1
}
.click-bait-image4 button a {
    text-decoration: none;
    color: white;
}

.click-bait-image4:hover {
    box-shadow: inset 0 0 0 500px rgba(1, 1, 1, 0.3)
}

.click-bait-image4 .visible4 {
    display: block;
    width: 150px;
    height: 30px;
    font-size: 20px;
    border: 0;
    border-radius: 12px;
    background: rgba(1, 1, 1, 0.5);
}

.click-bait-image4 button a:hover {
    color: lightseagreen;
}

.insta-owner {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
}

.insta-info p {
    margin: 0;
}

.insta-img {
    width: 70px;
    height: 50px;
    background-image: url("https://images.pexels.com/photos/1581632/pexels-photo-1581632.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 30px;
    border-radius: 50%;
}

@media (max-width: 768px) and (min-width: 561px) {
    .reviews{
        grid-template-rows: 100px 80px 230px
    }
    .click-bait-image1{
        width: 100%
    }
    .click-bait-image2{
        width: 100%
    }
    .click-bait-image3{
        width: 100%
    }
    .click-bait-image4{
        width: 100%
    }
    .brand{
        width: 50px;
    }
    .insta-info p{
        font-size: 13px;
    }
}

@media (max-width: 560px) and (min-width: 425px) {
    .reviews{
        grid-template-rows: 70px 80px auto
    }
    .click-bait-container{
        flex-wrap: wrap
    }
    .click-bait-image1{
        width: 100%;
        height: 250px
    }
    .click-bait-image2{
        width: 100%;
        height: 250px
    }
    .click-bait-image3{
        width: 100%;
        height: 250px
    }
    .click-bait-image4{
        width: 100%;
        height: 250px
    }
    .brand{
        width: 35px;
    }
    .insta-info p{
        font-size: 11px;
    }
  
}

@media (max-width: 424px) {
    .reviews{
        grid-template-rows: 70px 80px auto
    }
    .click-bait-container{
        flex-wrap: wrap
    }
    .click-bait-image1{
        width: 100%;
        height: 250px
    }
    .click-bait-image2{
        width: 100%;
        height: 250px
    }
    .click-bait-image3{
        width: 100%;
        height: 250px
    }
    .click-bait-image4{
        width: 100%;
        height: 250px
    }
    .brand{
        width: 25px;
    }
    .insta-info p{
        font-size: 9px;
    }
    .insta-img{
        width: 100px
    }
}